* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
}
header {
  background-image: url(../dist/img/Pic1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
header h1 {
  text-align: center;
  padding: 300px 1500px 500px 100px;
  color: white;
}

header .ueberschrift {
  color: white;
}

nav {
  background-color: black;
  padding: 20px;
}

nav li {
  float: right;
  list-style-type: none;
}

nav li a {
  text-decoration: none;
  padding-right: 10px;
  color: white;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  padding: 20px;
}

footer .listLeft {
  float: left;
}

.listLeft li {
  display: inline;
  list-style-type: none;
}

.listLeft li a {
  text-decoration: none;
  color: white;
}

footer .listRight {
  float: right;
}

.social {
  color: white;
  padding: 10px;
}
